.menu .ui.icon.input {
  margin: 15px;
  width: calc(100% - 30px);
}

.pusher {
  width: calc(100% - 260px);
  padding: 15px;
}

.podcast-episode {
  p {
    display: inline-block;
    margin: 0;
  }
}
